<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:jms="http://www.springframework.org/schema/jms" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- JMS environment settings -->
	<bean id="AmqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<constructor-arg index="0" value="vm://localhost?broker.persistent=false" />
	</bean>
	<bean id="ConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="AmqConnectionFactory" />
	</bean>

	<bean id="CommandDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="QUEUE.COMMAND" />
	</bean>
	<bean id="CommandJmsTemplate" class="org.commando.remote.jms.dispatch.JmsTemplate">
		<constructor-arg ref="ConnectionFactory" />
		<constructor-arg ref="CommandDestination" />
	</bean>
	<bean id="ResultDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="QUEUE.RESULT" />
	</bean>
	<bean id="ResultJmsTemplate" class="org.commando.remote.jms.dispatch.JmsTemplate">
		<constructor-arg ref="ConnectionFactory" />
		<constructor-arg ref="ResultDestination" />
	</bean>


<!-- 	<bean class="org.commando.example.SampleAction"></bean> -->
<!-- 	<bean class="org.commando.testbase.action.NoResultAction"></bean> -->
<!-- 	<bean class="org.commando.testbase.action.TestWaitAction"></bean> -->
<!-- 	<bean class="org.commando.testbase.action.TestFailAction"></bean> -->

<!-- 	<bean class="org.commando.testbase.filter.TestFilter"></bean> -->

	<bean id="dispatcher" class="org.commando.testbase.dispatcher.TestDispatcherFactory" factory-method="createTestInVmDispatcher"/>
	<bean id="serializer" class="org.commando.xml.serializer.XmlSerializer" />

	<!-- Dispatcher that sends through JMS -->
	<bean id="JmsDispatcher" class="org.commando.remote.jms.dispatch.JmsDispatcher">
		<constructor-arg ref="CommandJmsTemplate" />
		<constructor-arg ref="ResultJmsTemplate" />
		<constructor-arg ref="serializer" />
		<property name="timeout" value="1000"></property>
	</bean>

	<bean id="commandReceiver" class="org.commando.remote.receiver.DefaultCommandReceiver">
		<constructor-arg ref="serializer" />
		<constructor-arg ref="dispatcher" />
	</bean>

	<!-- Listener that processes the command -->
	<bean id="CommandMessageListener" class="org.commando.remote.jms.receiver.JmsCommandReceiverListener">
		<constructor-arg ref="commandReceiver" />
		<constructor-arg ref="ResultJmsTemplate" />
	</bean>
	<bean id="CommandMessageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="ConnectionFactory" />
		<property name="destination" ref="CommandDestination" />
		<property name="messageListener" ref="CommandMessageListener" />
	</bean>



</beans>
